/* CSS Document */

.clientHeaderName{
	letter-spacing: 25px; 
	font-family:medium-antenna; 
	font-size:60px; 
	color:#B49B57
}

.divTextArea{
	padding-top: 70px;padding-bottom: 40px; text-align:left; padding-left: 110px; padding-right: 80px;
}
.jamesImageFirst{
	
	height:550px; width:850px;
}
.jamesImageSecond{
	height:620px; width:390px;
}

.jamesImageThird{
	height:600px; width:700px;
}
.jamesImageFour{
	height:400px; width:500px;
}
.postHeaderName{
	font-family: medium-antenna; letter-spacing: 2px;color:#B49B57;
	font-size: 40px;
	
}
.paraPost{
	color:#00254a; font-size:20px;
}
.paraGrey{
	color:grey;
}
@media (max-width:576px){
.clientHeaderName{
	letter-spacing: 20px; 
	font-family:medium-antenna; 
	font-size:35px; 
	color:#B49B57
}
.divTextArea{
	padding-top: 70px;padding-bottom: 40px; text-align:left; padding-left: 30px; padding-right: 80px;
}	


.jamesImageFirst{
	height:210px; width:350px;
}
.jamesImageSecond{
	height:300px; width:170px;
}
.jamesImageThird{
	height:300px; width:220px;
}
.jamesImageFour{
	height:120px; width:170px;
}
.postHeaderName{
	font-family: medium-antenna; letter-spacing: 2px;color:#B49B57;
	font-size: 20px;
}
.paraPost{
	color:#00254a; font-size:12px;
	}
.paraGrey{
	color:grey;
	font-size:12px;
}
	
}

@media (max-width:768px) and (min-width: 576px){
	.tech_geek{
	letter-spacing: 15px; 
	font-family:medium-antenna; 
	font-size:45px; 
	color:#B49B57
}
	
	.tech_icons{
	width:75px;height:65px;
	padding-left:8px;
	padding-right:8px;
}
}


