/* CSS Document */

.clientHeaderName{
	letter-spacing: 25px; 
	font-family:medium-antenna; 
	font-size:60px; 
	color:#B49B57
}

.divTextArea{
	padding-top: 70px;padding-bottom: 40px; text-align:left; padding-left: 110px; padding-right: 80px;
}
.shortyImageFirst{
	height:450px; width:850px;
}
.shortyImageSecond{
	height:650px; width:650px;
}
.shortyImageThird{
	height:450px; width:850px;
}
.shortyImageFour{
	height:650px; width:650px;
}
.shortyImageFive{
	height:690px; width:380px;
}
.shortyImageSix{
	height:650px; width:650px;
}
@media (max-width:576px){
.clientHeaderName{
	letter-spacing: 20px; 
	font-family:medium-antenna; 
	font-size:35px; 
	color:#B49B57
}
.divTextArea{
	padding-top: 70px;padding-bottom: 40px; text-align:left; padding-left: 30px; padding-right: 80px;
}	
.shortyImageFirst{
	height:400px; width:350px;
}
.shortyImageSecond{
	height:470px; width:350px;
}
.shortyImageThird{
	height:400px; width:350px;
}
.shortyImageFour{
	height:400px; width:370px;
}
.shortyImageFive{
	height:400px; width:330px;
}
.shortyImageSix{
	height:400px; width:350px;
}
	
}

@media (max-width:768px) and (min-width: 576px){
	.tech_geek{
	letter-spacing: 15px; 
	font-family:medium-antenna; 
	font-size:45px; 
	color:#B49B57
}
	
	.tech_icons{
	width:75px;height:65px;
	padding-left:8px;
	padding-right:8px;
}
}


